---
import { Img } from "astro-imagetools/components";
import DefaultLayout from "../layouts/DefaultLayout.astro";

export interface Props {
  content: {
    title: string;
    description: string;
    pubDate?: string;
    updatedDate?: string;
    img?: string;
    author?: string;
    authorUrl?: string;
  };
}

const {
  content: { title, description, pubDate, updatedDate, img, author, authorUrl, localImg },
} = Astro.props;
---

<DefaultLayout>
  <article class="prose prose-sm mx-auto mt-9">
    <h3 class="not-prose primary-color font-black">Ukraine</h3>
    <h1 class="title">{title}</h1>
    <p class="font-bold">
      {description}
    </p>

    <p>
      {
        authorUrl && (
          <a href={authorUrl} class="text-black">
            {author}
          </a>
        )
      }
      {!authorUrl && <span class="text-black">{author}</span>}
      <time>{pubDate}</time>
      {
        updatedDate && (
          <div>
            Last updated on <time>{updatedDate}</time>
          </div>
        )
      }
    </p>
    {
      !localImg && (
        <Img src={import(`./${localImg}.png`)} />
      )
    }
    <slot />
  </article>
</DefaultLayout>
